---
import Grid from './Grid.astro';
---

<div class="awards">
    <Grid variant="offset">
        <li class="award-card">
            <h4>CounterSpell in BUSAN GameJAM Track</h4>
            <p class="date">2024.11</p>
            <p class="team">Team Project with BSM & GSM Students</p>
        </li>
        <li class="award-card">
            <h4>2024 IT 꿈나무 성장지원사업 화이트해커 경진대회</h4>
            <p class="date">2024.11</p>
            <p class="award">대상 - 교육부 장관상</p>
        </li>
        <li class="award-card">
            <h4>2024 금정구 인구문제 해커톤</h4>
            <p class="date">2024.08</p>
            <p class="award">최우수상 - 코드코리아대표상</p>
        </li>
        <li class="award-card">
            <h4>2024 한국정보올림피아드 1차 대회</h4>
            <p class="date">2024.05</p>
            <p class="award">동상, 장려상 - 정보올림피아드위원회위원장상,한국비버정보교육연합회회장상</p>
        </li>
        <li class="award-card">
            <h4>2024 부산소프트웨어마이스터고등학교 교내 AI 웹 프로젝트 공모전</h4>
            <p class="date">2024.04</p>
            <p class="award">장려상 - 부산소프트웨어마이스터고등학교장상</p>
        </li>
        <li class="award-card">
            <h4>2023 부산소프트웨어마이스터고등학교 교내 알고리즘 경진대회</h4>
            <p class="date">2023.09</p>
            <p class="award">최우수상 - 부산소프트웨어마이스터고등학교장상</p>
        </li>
        <li class="award-card">
            <h4>2023 부산 SW AI교육 중등학생 해카톤</h4>
            <p class="date">2023.07</p>
            <p class="award">장려상 - 교육연구정보원장상</p>
        </li>
    </Grid>
</div>

<style>
    .awards {
        display: grid;
        gap: 2rem;
    }

    .award-card {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 1.5rem;
        background: var(--gradient-subtle);
        border: 1px solid var(--gray-800);
        border-radius: 1.5rem;
        color: var(--gray-300);
    }

    .award-card h4 {
        font-size: var(--text-lg);
        color: var(--gray-0);
        margin-bottom: 0.5rem;
    }

    .date {
        font-size: var(--text-sm);
        color: var(--accent-regular);
    }

    .award {
        font-size: var(--text-sm);
        color: var(--gray-200);
        margin-top: 0.5rem;
    }

    .team {
        font-size: var(--text-sm);
        color: var(--gray-200);
        margin-top: 0.5rem;
    }
</style>