---
import Hero from './Hero.astro';
import Icon from './Icon.astro';
import Pill from './Pill.astro';
---

<header class="hero">
    <Hero
        title="Hello, I'm Dongwook Kim."
        tagline="I'm a junior embedded developer who wants to create the future of embedded."
        align="start"
    >
        <div class="roles">
            <Pill><Icon icon="code" size="1.33em" /> Developer</Pill>
            <Pill><Icon icon="trophy" size="1.33em" /> Algorithm Expert</Pill>
            <Pill><Icon icon="strategy" size="1.33em" /> Problem Solving</Pill>
        </div>
    </Hero>

    <img
        alt="김동욱의 프로필 사진"
        width="360"
        height="465"
        src="/assets/portrait.jpg"
    />
</header>

<style>
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .roles {
        display: none;
    }

    .hero img {
        aspect-ratio: 5 / 4;
        object-fit: cover;
        object-position: top;
        border-radius: 1.5rem;
        box-shadow: var(--shadow-md);
    }

    @media (min-width: 50em) {
        .hero {
            display: grid;
            grid-template-columns: 6fr 4fr;
            padding-inline: 2.5rem;
            gap: 3.75rem;
        }

        .roles {
            margin-top: 0.5rem;
            display: flex;
            gap: 0.5rem;
        }

        .hero img {
            aspect-ratio: 3 / 4;
            border-radius: 4.5rem;
            object-fit: cover;
        }
    }
</style> 